/*==================================================
main.css for Church For Life
By David Allen
===================================================*/


/*==================================================
Browser reset

http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
===================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

html, body {
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End browser reset*/

/*==================================================
GENERAL
===================================================*/

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#pageContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;
}

/*==================================================
FONTS
===================================================*/

header h1, #mainMenu,
#contentContainer h2,
#contentContainer h3 {
	font-family: 'Salsa', cursive;
}

header h3  {
	font-family: 'Tangerine', cursive;
}

#contentContainer p,
.keepReading,
footer {
	font-family: 'Lato', sans-serif;
}


/*==================================================
HEADER
===================================================*/

header {
  /*background-color: #127725;*/
	background-color: darkgreen;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
	color: #32241e;
	/*text-shadow: 1px 1px 2px #000;*/


}

header h3 {
  text-align: center;
  padding-bottom: 0.5rem;
  font-style: italic;
	color: #32241e;
	/*text-shadow: 1px 1px 1px #000;*/
	font-size: 2rem;
	font-weight: 600;
}

/*==================================================
NAVIGATION
===================================================*/

#mainMenu {
	color: #32241e;
	font-size: 1.25rem;
}

#mainMenu ul {
  display: none;
	border-left: solid transparent 0.5rem;
	border-right: solid transparent 0.5rem;
}

#navIcon a {
  display: block;
  padding: 0.5rem;
	outline: 0;
}

#mainMenu ul li a {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

#mainMenu ul li:hover {
  background-color: green;
}

.selected {
  background-color: green;
}


/*==================================================
MAIN CONTENT
===================================================*/

#contentContainer {
  flex-grow: 1;
  background-color: #40c840;
	color: #fff;
	padding: 0.5rem;
}

.line {
	margin: 1rem 0 0.5rem;;
	border-top: solid 2px;
	color: #083705;
}

#contentContainer h2 {
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

#latestContainer {
	display: flex;
	flex-direction: column;
}

#contentContainer h2 {
	color: #083705;
	text-shadow: 1px 1px 2px #444;


}

#contentContainer p {

    font-family: 'Lato', sans-serif;

}

.postList h3 {
	display: inline-block;
}

/*==================================================
FOOTER
===================================================*/

footer {
  background: darkgreen;
	color: #fff;
}



/*==================================================
RESPONSIVE CSS
===================================================*/

@media screen and (min-width: 1100px){
	#latestContainer {
		flex-direction: row;
	}
}
